## Q1. Create a python program to sort the given list of tuples based on integer value using a  lambda function.  
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [4]:
list1 = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)] 

sort_score = sorted(list1, key = lambda x: x[1])
print(sort_score)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

## Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using  lambda and map functions. 
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
# using lambda function
x = [1,2,3,4,5,6,7,8,9,10]
sq_num = lambda x: (i**2 for i in x)
print(list(sq_num(x)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [16]:
# using map() function
l = [1,2,3,4,5,6,7,8,9,10]
sq_num =list( map(lambda x: x**2, l))
sq_num

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and  lambda functions 
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [1]:
# using map function

x =[1,2,3,4,5,6,7,8,9,10]
a = list(map(str,x))
print(tuple(a))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [17]:
# using lambda function
num1 = [1,2,3,4,5,6,7,8,9,10]
str1 = lambda x : (str(i) for i in x)
print(tuple(str1(num1)))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

## Q4.  Write a python program using reduce function to compute the product of a list containing numbers  from 1 to 25.

In [2]:
from functools import reduce

In [43]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
reduce(lambda x,y : x*y , a)

15511210043330985984000000

## Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the  filter function. 
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [46]:
lst1 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46] 
x = list(filter (lambda x: x%2 == 0 and x%3 == 0 , lst1))
print(x)

[6, 60, 90, 120]

## Q6. Write a python program to find palindromes in the given list of strings using lambda and filter  function. 
['python', 'php', 'aba', 'radar', 'level']

In [8]:
a = ['python', 'php', 'aba', 'radar', 'level']

In [23]:
# using lambda function
rev1 = lambda x:( i[::-1] for i in x if i[::-1] == i )
list(rev1(a))

['php', 'aba', 'radar', 'level']

In [12]:
# using filter fucntion
palin = filter (lambda x: (x[::-1] == x ), a)
list(palin)

['php', 'aba', 'radar', 'level']